<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <table>
        <tr>
            <td>Hi {{ modelUser.username }} !</td>
        </tr>
        <tr>
            <td>
                <p>
                    {{ t('app','Please click in the following link to activate your password') }}
                </p>
            </td>
        </tr>
        <tr>
            <td height="10"></td>
        </tr>
        <tr>
            <td>
                <a href="{{ activation_link }}">{{ activation_link }}</a>
            </td>
        </tr>
    </table>
</body>
</html>
