{{ void(this.beginPage()) }}
<!DOCTYPE html>
<html lang="{{ app.language }}">
<head>
    <meta charset="{{ app.charset }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ this.title }}</title>
    {{ void(this.head) }}
</head>
<body class="hold-transition {{ app.params.SKIN }} sidebar-mini">
    {{ void(this.beginBody()) }}
    <div class="wrapper">
        {%  include 'header.twig' %}
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper main-selector" id="{{ app.controller.id  }}-{{ app.controller.action.id  }}">
            {{ content | raw }}
        </div>
        <!-- /.content-wrapper -->
    </div>
    {{ void(this.endBody()) }}
</body>
</html>
{{ void(this.endPage()) }}
