<div class="flight-overview-container col-xs-12 no-padding margin-bottom-20">
    {% if OUT %}
        <h4 class="box-title"> <i class="fa fa-plane"></i>&nbsp;Outbound flight</h4>

        <div class="flight-info col-xs-12 no-padding">
            <h4 class="padding-left-15">{{ departureDate }}</h4>
            <div class="col-xs-12 margin-top-20">
                <div class="col-xs-5 no-padding">
                    <label>{{ OUT.departureAirport }}<br>{{ OUT.timeDeparture }}</label>
                </div>
                <div class="col-xs-2">
                    <i class="fa fa-arrow-right"></i>
                </div>
                <div class="col-xs-5 no-padding">
                    <label>{{ OUT.arrivalAirport }}<br>{{ OUT.timeArrival }}</label>
                </div>
                <div class="col-xs-12 text-right">
                    <span class="flight-price-currency">{{ currency }}</span>&nbsp;<span class="flight-price-amount">{{ OUT.price }},</span><span class="flight-price-cents">{{ OUT.cents }}</span>
                    <br>
                    <span>Price per person</span>
                </div>
            </div>
        </div>
    {% endif %}

    {% if RET %}
        <h4 class="box-title"> <i class="fa fa-plane fa-rotate-45"></i>&nbsp;Flight back</h4>

        <div class="flight-info col-xs-12 no-padding">
            <h4 class="padding-left-15">{{ returnDate }}</h4>
            <div class="col-xs-12 margin-top-20">
                <div class="col-xs-5 no-padding">
                    <label>{{ RET.departureAirport }}<br>{{ RET.timeDeparture }}</label>
                </div>
                <div class="col-xs-2">
                    <i class="fa fa-arrow-right"></i>
                </div>
                <div class="col-xs-5 no-padding">
                    <label>{{ RET.arrivalAirport }}<br>{{ RET.timeArrival }}</label>
                </div>
                <div class="col-xs-12 text-right">
                    <span class="flight-price-currency">{{ currency }}</span>&nbsp;<span class="flight-price-amount">{{ RET.price }},</span><span class="flight-price-cents">{{ RET.cents }}</span>
                    <br>
                    <span>Price per person</span>
                </div>
            </div>

        </div>
    {% endif %}

    <h4 class="box-title"> <i class="fa fa-users"></i>&nbsp;Passenger(s)</h4>
    <div class="flight-info col-xs-12 no-padding">
        <div class="col-xs-12 margin-top-20">
            {% if nAdults > 0 %}{{ nAdults }} Adult(s){% endif %}
            {% if nChildren > 0 %}&nbsp;&nbsp;{{ nChildren }}&nbsp;Children{% endif %}
            {% if nBabies > 0 %}&nbsp;&nbsp;{{ nBabies }}&nbsp;Babies{% endif %}
        </div>
        <div class="total-price-container col-xs-12 margin-top-20">
            <div class="col-xs-3 text-left">
            <strong>TOTAL</strong>
            </div>
            <div class="col-xs-9 text-right">
                <span class="flight-price-currency">{{ currency }}</span>&nbsp;<span class="flight-price-amount">{{ total }},</span><span class="flight-price-cents">{{ cents }}</span>
                <br>
                <span>(Incl. airport tax)</span>
            </div>
        </div>
    </div>
</div>