<div class="flight-result-container row">
    <h4 class="padding-left-15">{{ departureDate }}</h4>
    {% if flightList %}
        {% for flight in flightList %}
        <div class="flight-info col-xs-12 {% if flight.priceFloat == lowerPrice %}flight-highlight{% endif %}">
            <div class="col-xs-12 margin-top-20">
                <div class="col-xs-6 col-sm-10 no-padding">
                    <div class="form-group">
                        <label><input type="radio" name="{{ resultType }}_flight-selected" value="{{ encrypt(loop.index) }}" {% if flight.price == lowerPrice %}checked="checked"{% endif %}>&nbsp;&nbsp;{{ flight.departureAirport }}&nbsp;{{ flight.timeDeparture }}&nbsp;&nbsp;<i class="fa fa-plane fa-rotate-45"></i>&nbsp;&nbsp;{{ flight.timeArrival }}&nbsp;{{ flight.arrivalAirport }}</label>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-2 no-padding text-right">
                    <span class="flight-price-currency">{{ currency }}</span>&nbsp;<span class="flight-price-amount">{{ flight.price }},</span><span class="flight-price-cents">{{ flight.cents }}</span>
                </div>
            </div>
            {% if flight.showMessage %}
            <div class="col-xs-12 text-right">
                <i class="fa fa-plane fa-rotate-45"></i>&nbsp;&nbsp;{{ flight.showMessage}}
            </div>
            {% endif %}
            {% if flight.seatsAvailable < 10 %}
            <div class="col-xs-12 text-right">
                <i class="fa fa-clock-o"></i>&nbsp;&nbsp;Only {{ flight.seatsAvailable }} tickets available at {{ currency }} {{ flight.price }},{{ flight.cents }}
            </div>
            {% endif %}
        </div>
        {% endfor %}
    {% else %}
        <h4 class="padding-left-15">No results</h4>
    {% endif %}
</div>