<!-- Main content -->
<section class="content col-xs-12">

    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <i class="fa fa-search"></i>
            <h3 class="box-title">Search Flight</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-xs-12 col-sm-3">
                    <h4 class="search-form-title">Choose a Flight</h4>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <div class="form-group">
                        <label><input type="radio" name="flight-type" value="round-trip" checked="checked">&nbsp;&nbsp;Round-trip flight</label>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <div class="form-group">
                        <label><input type="radio" name="flight-type" value="one-way">&nbsp;&nbsp;One way</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-3">
                    <div class="form-group">
                        <select name="from" id="js-route-from" class="form-control">
                            <option value="">From</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <div class="form-group">
                        <select name="to" id="js-route-to" class="form-control">
                            <option value="">To</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <div class="form-group">
                        <input type="text" class="form-control datepicker" name="departure" id="js-date-departure" placeholder="Departure" readonly="readonly">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <div class="form-group">
                        <input type="text" class="form-control datepicker" name="return" id="js-date-return" placeholder="Return" readonly="readonly">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-3">
                    <div class="form-group">
                        <select name="nAdults" id="js-n-adults" class="form-control">
                            {% for i in 1..nItemsDropdowns %}
                                {% if i==1 %}
                                     <option value="{{ i }}">{{ i }} Adult</option>
                                {% else %}
                                    <option value="{{ i }}">{{ i }} Adults</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <br>
                        <label>+ 12 years</label>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <div class="form-group">
                        <select name="nChildren" id="js-n-children" class="form-control">
                            {% for i in 0..nItemsDropdowns %}
                                {% if i==1 %}
                                    <option value="{{ i }}">{{ i }} Child</option>
                                {% else %}
                                    <option value="{{ i }}">{{ i }} Children</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <br>
                        <label> 2 - 11 years</label>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <div class="form-group">
                        <select name="nBabies" id="js-n-babies" class="form-control">
                            {% for i in 0..nItemsDropdowns %}
                                {% if i==1 %}
                                    <option value="{{ i }}">{{ i }} Baby</option>
                                {% else %}
                                    <option value="{{ i }}">{{ i }} Babies</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <br>
                        <label>- 24 months</label>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <button type="button" id="js-search-button" class="btn btn-block btn-info btn-flat">Search and Book  <i class="fa fa-arrow-right"></i></button>
                </div>
            </div>

        </div>
        <!-- /.box-body -->
        <div class="box-footer">

        </div>
        <!-- /.box-footer-->
    </div>
    <!-- /.box -->

    <div id="results-container" class="hidden col-xs-12 col-sm-8 col-sm-offset-2">
        <h3 class="margin-top-50">RESULTS</h3>
        <!-- Default box -->
        <div class="box box-outbound hidden">
            <div class="box-header with-border">
                <i class="fa fa-plane"></i>
                <h3 class="box-title">Outbound</h3>
            </div>
            <div id="outbound-flights-container" class="box-body">

            </div>
            <!-- /.box-body -->
            <div class="box-footer">

            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->

        <!-- Default box -->
        <div class="box box-return hidden">
            <div class="box-header with-border">
                <i class="fa fa-plane fa-rotate-45"></i>
                <h3 class="box-title">Return</h3>
            </div>
            <div id="return-flights-container" class="box-body">

            </div>
            <!-- /.box-body -->
            <div class="box-footer">

            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
        <div class="col-xs-12 col-sm-3 pull-right no-padding">
            <button type="button" id="js-proceed-button" class="btn btn-block btn-info btn-flat">Proceed  <i class="fa fa-shopping-cart"></i></button>
        </div>
    </div>
    <!-- /.results container -->

    <div class="modal fade" id="modal-flight-overview" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Your Flight</h4>
                </div>
                <div class="modal-body col-xs-12 no-padding">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Payment</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</section>
<!-- /.content -->