.content{
    background-color: #EEE;
}

.padding-left-15 {
    padding-left: 15px;
}
.margin-top-20{
    margin-top: 20px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-top-50{
    margin-top: 50px;
}

.flight-price-currency {
    font-size: 14px;
}

.flight-price-amount{
    font-size: 20px;
}

.flight-overview-container h4 {
    margin-top:0 !important;
    margin-bottom:0 !important;
    padding-left:15px;
    padding-bottom:15px;
    padding-top:15px;
}

.flight-overview-container .flight-info {
    border-top: 1px solid #EEE;
    padding-bottom:15px;
}

.flight-overview-container .total-price-container {
    border-top:1px solid #CCC;
    padding-top:20px;
}

.flight-price-cents{
    font-size: 12px;
}

.flight-highlight {
    background: rgba(0, 0, 0, 0.1);
}

.fa-rotate-45 {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.search-form-title {
    margin-top: 0 !important;
}

.datepicker[readonly] {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555 !important;
    background-color:#FFF !important;
}